.weather-card {
    width: 60rem;
    min-width: 22rem;
    height: 34rem;
    padding: 1rem;
    background: #cce5ff; /* Example background for the card */
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(100px); /* Glassmorphism effect */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .weather-card-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  
  .weather-icon {
    width: 8rem;
    height: 8rem;
  }
  
  .temperature {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .place {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(36, 34, 34);
    text-align: center;
  }
  
  
  
  .date, .time {
    text-align: center;
    padding: 0.5rem;
  }
  
  .details {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
  }
  
  .detail-item {
    flex: 1;
    text-align: center;
    height: 50%;
    width: 100%;
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 0.4rem;
    background-color: #f0f0f0; /* Light background for detail items */
  }
  
  .detail-item.windspeed {
    background-color: rgba(106, 209, 111, 0.9); /* Light blue for windspeed */
  }
  
  .detail-item.humidity {
    background-color: #d4edda; /* Light green for humidity */
  }
  
  .heat-index {
    width: 100%;
    padding: 1rem;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .heat-index-label {
    font-weight: bold;
  }
  
  .heat-index-value {
    font-size: 1.25rem;
  }
  
  .divider {
    background-color: #ced4da;
    margin: 1rem 0;
  }
  
  .conditions {
    font-size: 1.8rem;
    font-weight: bold;
    color:rgb(36, 34, 34);
    text-align: center;
  }
  