*{
    padding: 0;
    margin: 0;
}

.loader-container {
    height: 100%;
    width: 100%;
    z-index: 10000;
    position: fixed;
    top: 0;
    left: 0;
    background: #f7f7f7;
    display:none;
    align-items: center;
    justify-content: center;
    
}

.loader-container.active {
    display: flex;
}