
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html, body{
    width: 100%;
    height: 100%;

}
/* body{
    background: rgb(216, 239, 239);
} */
/* #row{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    color: black;
    margin-top: 0;
} */
footer{
    width: 100%;
    bottom: 0;
    position:fixed;
    padding: 100px 0 30px;
    border-top-left-radius: 20px;
    color: white;
    font-size: 13px;
    background: linear-gradient(to right , #82ee5b, #13a174);

    line-height: 30px;
}
#foot{
    /* width: 85%; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    
}
.col{
    flex-basis: 25%;
    padding: 10px;
}
.col:nth-child(1),.col:nth-child(4){
    flex-basis: 15%;
}
.col h2{
    width: fit-content;
    margin-bottom: 30px;
    position: relative;
}
.email_id{
    width: fit-content;
    border-bottom: 1px solid rgb(144, 141, 141);
}
.line{
    width: fit-content;
    border-bottom: 1px solid rgb(144, 141, 141);
}
.col h1{
    font-size: 40px;
    font-weight: 600;
    padding: 15px 0 0 0;
}
 #row h1{
 font-size: 3em;
}
@media (max-width:600px){
    footer{
        bottom: unset;
    }
    .col{
        flex-basis: 100%;

    }
    .col:nth-child(1),.col:nth-child(4){
        flex-basis: 15%;
    }
}
